<div *ngIf="!isCustomerLoggedIn && !isAdminLoggedIn">
<mat-toolbar color="primary"  class="navbar">
    <span class="navbar-brand">E Bookstore</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/order" routerLinkActive="active" class="button">Track Order</button>
    <button mat-button routerLink="/signup" routerLinkActive="active" class="button">Register</button>
    <button mat-button routerLink="/login"  routerLinkActive="active" class="button">Login</button>
</mat-toolbar>
</div>
<div *ngIf="isAdminLoggedIn">
    <mat-toolbar color="primary"  class="navbar">
        <span class="navbar-brand">E Bookstore</span>
        <span class="spacer"></span>
        <button mat-button routerLink="/admin/dashboard" routerLinkActive="active" class="button">DashBoard</button>
        <button mat-button routerLink="/admin/analytics" routerLinkActive="active" class="button">Analytics</button>
        <button mat-button routerLink="/admin/category" routerLinkActive="active" class="button">Category</button>
        <button mat-button routerLink="/admin/product" routerLinkActive="active"  class="button">Books</button>
        <button mat-button routerLink="/admin/orders"  routerLinkActive="active"  class="button">Orders</button>
        <button mat-button routerLink="/admin/post-coupon" routerLinkActive="active" class="button">Post Coupon</button>
        <button mat-button routerLink="/admin/coupons" routerLinkActive="active" class="button">Coupons</button>
        <button mat-button routerLinkActive="active" (click)="logout()">Logout</button>

    </mat-toolbar>
    </div>
    <div *ngIf="isCustomerLoggedIn">
        <mat-toolbar color="primary"  class="navbar">
            <span class="navbar-brand">E Bookstore</span>
            <span class="spacer"></span>
            <button mat-button routerLink="/customer/dashboard" routerLinkActive="active" class="button">Dashboard</button>
            <button mat-button routerLink="/customer/cart" routerLinkActive="active" class="button">Cart</button>
            <button mat-button routerLink="/customer/my_orders" routerLinkActive="active" class="button">Orders</button>
            <button mat-button routerLink="/customer/wishlist" routerLinkActive="active" class="button">Wishlist</button>
            <button mat-button routerLink="/customer/profile"  routerLinkActive="active"  class="button">Profile</button>
            <button mat-button routerLinkActive="active" (click)="logout()">Logout</button>
             
        </mat-toolbar>
        </div>

<router-outlet></router-outlet>