$primary-color: #a456a5; // Main color
$secondary-color: #FFFFFF; // White
$background-color: #F5F5F5; // Light gray
$input-background-color: #FFFFFF; // White for input fields
$input-border-color: #CCCCCC; // Light gray border for inputs
$input-focus-color: #66BB6A; // Light green for focused input fields
$disabled-opacity: 0.6;
$font-family: 'Aptos', sans-serif;
$font-weight-normal: 400;
$font-weight-bold: 700;
$heading-color: #2C2C2C; // Refined dark gray for headings
.ordered-book-container {
    background-color: $background-color;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    font-family: $font-family;
    max-width: 800px;
    margin: 0 auto;
  
    .ordered-book {
      background-color: $secondary-color;
      padding: 16px;
      border-radius: 8px;
      margin-bottom: 20px;
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  
      .book-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 12px;
  
        .book-image {
          img {
            max-width: 100px;
            max-height: 100px;
            border-radius: 4px;
            box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
          }
        }
  
        .book-details {
          flex: 1;
          margin-left: 16px;
          display: flex;
          flex-direction: column;
  
          .item-row {
            display: flex;
            justify-content: space-between;
            margin-bottom: 8px;
  
            .item-name {
              font-weight: $font-weight-bold;
              color: $heading-color;
              margin-right: 16px;
            }
  
            .item-price,
            .item-quantity {
              font-weight: $font-weight-normal;
              color: darken($heading-color, 10%);
            }
          }
        }
  
        .action-buttons {
          button {
            background-color: $primary-color;
            color: $secondary-color;
            font-weight: $font-weight-bold;
            font-family: $font-family;
            text-transform: uppercase;
            padding: 8px 16px;
            border-radius: 4px;
            transition: background-color 0.3s ease;
  
            &:hover {
              background-color: darken($primary-color, 10%);
            }
  
            &:disabled {
              opacity: $disabled-opacity;
            }
          }
        }
      }
  
      .total-price {
        text-align: right;
        font-weight: $font-weight-bold;
        color: $primary-color;
        margin-top: 12px;
        font-size: 18px;
      }
    }
  }
  